@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Raleway:wght@500&display=swap');

@font-face {
    font-family: 'icomoon';
    src:  url('../font/fonts/icomoon.eot?9pmlnp');
    src:  url('../font/fonts/icomoon.eot?9pmlnp#iefix') format('embedded-opentype'),
      url('../font/fonts/icomoon.ttf?9pmlnp') format('truetype'),
      url('../font/fonts/icomoon.woff?9pmlnp') format('woff'),
      url('../font/fonts/icomoon.svg?9pmlnp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to top, #eceffe, white
    );
}

main {
    padding: 0 1.3em;
}

header {
    padding: 1.3em 1.3em 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2em;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
}

.logo-header {
    color: #12193f;
}

.botao-start {
    font-size: 1em;
    padding: 15px 24px;
    border-radius: 40px;
    font-weight: bold;
    font-family:'Raleway', sans-serif;
    color: white;
    letter-spacing: 1.4px;
}

.botao-header {
    background-color: #12193f;
    
}

.topo-title {
    font-size: 2.7em;
    font-weight: bolder;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #12193f;
}

.topo-description {
    line-height: 25px;
    margin-bottom: 1.2em;
    color:#828190;
    font-size: 1.2em;
}

.botao-topo {
    padding: 18px 32px;
    background: linear-gradient(to bottom, #ff6b4d, #f33696);
    margin-bottom: 4em;
}

.img-mobile {
    width: 100%;
    margin-bottom: 3em;
}

.img-desktop, .img-tablet {
    display: none;
}

.checkout {
    background-image: linear-gradient(to top, #f2319c, #fe6754);
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    padding: 27px;
    border-radius: 10px;
    margin-bottom: 2em;
}



.curso {
    background-color: white;
    border-radius: 10px;
    padding: 0 2em 2em;
}

.all-courses {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 3em;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    color: white;
    background-image: linear-gradient(to top, #f2319c, #fe6754);
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;

    position: relative;
    bottom: 30px;
}

.title-course {
    padding-bottom: 1em;
}

.course-description {
    color: #828190;
    font-size: 1.2em;
    padding-bottom: 0.8em;
}

.get-started-link {
    font-size: 1.2em;
    text-decoration: none;
    color: #f33696;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #12193f;
    padding: 2em;
}

.logo-footer {
    font-size: 1.9em;
    color: white;
}

.botao-footer {
    background-image: linear-gradient(to top,#c236bd, #5e4bf4);
}
                 /* TABLET SCREEN */
@media screen and (min-width:600px) {
    
    body {
        margin: 0;
    }

    header,main {
        width: 100%;
        padding: 2em;
        
       
    }

    header {
        display: flex;
        justify-content: space-between;
    }


    .logo-header {
        font-size:3em;
    }

    .botao-header {
        font-size: 1.5em;
    }
    .img-mobile {
        display: none;
    }
    
    .img-desktop {
        display: none;
    }

    .site-description {
        display: flex;
    }

    .topo-title {
        font-size: 3em;
        width: 60vw;
    }

    .topo-description {
        width: 50vw;
        font-size: 1.3em;
        line-height: 35px;
    }

    .botao-topo {
        font-size: 1.3em;
        padding: 1.2em 2.3em;
    }

    .site-description {
        position: relative;
    }
    .img-container {
        position: absolute;
        bottom: 5em;
        left: 24em;
        width: 26em;
    }



    .img-tablet {
            display: block;
            max-width: 100%;
        }

    .all-courses {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
       "checkout curso-animation"
       "curso-design curso-photo"
       "curso-crypto curso-business";
    }

    .checkout {
        margin: 0;
        padding-top: 2em;
       grid-area: checkout;
    }

    .curso-animation {
        grid-area: curso-animation;
    }

    .curso-design {
        grid-area: curso-design;
    }

    .curso-photo {
        grid-area: curso-photo;
    }

    .curso-crypto {
        grid-area: curso-crypto;
    }

    .curso-business {
        grid-area: curso-business;
    }
    
    .footer {
        padding: 0 50em;
        width: 100vw;
    }
    
}

@media screen and (min-width:850px) {

    main,header {
        max-width: 100%;
        padding: 1.5em 4em 4em 4em;
    }
    .logo-header {
    font-size: 1.8em;
    }

    .botao-header {
        font-size: 1em;
    }

    .img-tablet {
        display: none;
    }

    .img-desktop {
        width: 100%;
        display: block;
    }

    .img-container {
        position: absolute;
        bottom: 1em;
        left: 35em;
        width: 33em;        
    }

    .topo-description {
        width: 50%;
        font-size: 1em;
    }

    .topo-title {
        width: 40%;
        font-size: 2.5em;
    }

    .botao-topo {
        font-size: 0.9em;
        padding: 1em 1.8em;
    }

    .all-courses {
        margin-top: 5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "checkout curso-animation curso-design"
        "curso-photo curso-crypto curso-business"
        ;
    }

    .course-description {
        font-size: 1em;
    }

    .title-course {
        font-size: 1.2em;
    }

    .get-started-link {
        font-size: 1em;
    }




}